.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;

  .restart-btn, .back-step-btn {
    background: #8f7a66;
    border-radius: 3px;
    padding: 10px 20px;
    text-decoration: none;
    color: #f9f6f2;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
  }
}