.game-container {
  position: relative;

  padding: 15px;
  width: 590px;
  height: 590px;

  background: #bbada0;
  border-radius: 6px;

  touch-action: none;
  user-select: none;

  .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.73);
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    // animation: fade-in 800ms ease 1200ms;
    // animation-fill-mode: both;

    &_active {
      display: flex;
    }

    &__text {
      font-size: 60px;
      font-weight: 700;
      height: 60px;
      line-height: 60px;
    }

    &__btn {
      margin-top: 29px;

      .retry-btn, .keep-playing-btn {
        display: none;
        background: #8f7a66;
        border-radius: 3px;
        padding: 10px 20px;
        text-decoration: none;
        color: #f9f6f2;
        line-height: 42px;
        text-align: center;
        font-size: 30px;
        cursor: pointer;
      }

      .retry-btn_active {
        display: block;
      }

      .keep-playing-btn_active {
        display: block;
      }
    }
  }

  .grid-container {

    .grid-row {
      display: flex;
      justify-content: space-between;
  
      margin-bottom: 15px;
      height: 100px;
    }

    .grid-cell {
      width: 100px;
  
      border-radius: 3px;
      background: rgba(238, 228, 218, 0.35);
    }
  }

  // animation-fill-mode: backwards;
  // animation: pop 200ms ease 100ms;
  .tile-container {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 560px;
    height: 560px;

    .tile {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      transition: 100ms ease-in-out;
      transition-property: transform;

      .tile-inner {
        width: 100px;
        height: 100px;
        border-radius: 3px;
        text-align: center;
        line-height: 100px;
        font-size: 55px;
        font-weight: bold;
      }
    }

    .tile-2 {
      
      .tile-inner  {
        background: #eee4da;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 0%), inset 0 0 0 1px rgb(255 255 255 / 0%);
      }
    }

    .tile-4 {

      .tile-inner  {
        background: #eee1c9;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 0%), inset 0 0 0 1px rgb(255 255 255 / 0%);
      }
    }

    .tile-8 {

      .tile-inner  {
        color: #f9f6f2;
        background: #f3b27a; 
      }
    }

    .tile-16 {

      .tile-inner  {
        color: #f9f6f2;
        background: #f69664;
      }
    }

    .tile-32 {

      .tile-inner  {
        color: #f9f6f2;
        background: #f77c5f;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 32%), inset 0 0 0 1px rgb(255 255 255 / 19%);
      }
    }

    .tile-64 {

      .tile-inner  {
        color: #f9f6f2;
        background: #f75f3b;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 32%), inset 0 0 0 1px rgb(255 255 255 / 19%);
      }
    }

    .tile-128 {

      .tile-inner  {
        color: #f9f6f2;
        background: #edd073;
        font-size: 45px;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 24%), inset 0 0 0 1px rgb(255 255 255 / 14%);
      }
    }

    .tile-256 {

      .tile-inner  {
        color: #f9f6f2;
        background: #edcc62;
        font-size: 45px;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 32%), inset 0 0 0 1px rgb(255 255 255 / 19%);
      }
    }

    .tile-512 {

      .tile-inner  {
        color: #f9f6f2;
        background: #edc950;
        font-size: 45px;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 40%), inset 0 0 0 1px rgb(255 255 255 / 24%);
      }
    }

    .tile-1024 {

      .tile-inner  {
        color: #f9f6f2;
        background: #edc53f;
        font-size: 35px;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 48%), inset 0 0 0 1px rgb(255 255 255 / 29%);
      }
    }

    .tile-2048 {

      .tile-inner  {
        color: #f9f6f2;
        background: #edc22e;
        font-size: 35px;

        box-shadow: 0 0 30px 10px rgb(243 215 116 / 56%), inset 0 0 0 1px rgb(255 255 255 / 33%);
      }
      
    }

    .tile-position-0-0 {
      transform: translate(0px, 0px);
      // top: 0;
      // left: 0;
    }

    .tile-position-0-1 {
      transform: translate(115px, 0px);
      // top: 0;
      // left: 115px;
    }

    .tile-position-0-2 {
      transform: translate(230px, 0px);
      // top: 0;
      // left: 230px;
    }

    .tile-position-0-3 {
      transform: translate(345px, 0px);
      // top: 0;
      // left: 345px;
    }

    .tile-position-0-4 {
      transform: translate(460px, 0px);
      // top: 0;
      // left: 460px;
    }

    .tile-position-1-0 {
      transform: translate(0px, 115px);
      // top: 115px;
      // left: 0;
    }

    .tile-position-1-1 {
      transform: translate(115px, 115px);
      // top: 115px;
      // left: 115px;
    }

    .tile-position-1-2 {
      transform: translate(230px, 115px);
      // top: 115px;
      // left: 230px;
    }

    .tile-position-1-3 {
      transform: translate(345px, 115px);
      // top: 115px;
      // left: 345px;
    }

    .tile-position-1-4 {
      transform: translate(460px, 115px);
      // top: 115px;
      // left: 460px;
    }

    .tile-position-2-0 {
      transform: translate(0px, 230px);
      // top: 230px;
      // left: 0;
    }

    .tile-position-2-1 {
      transform: translate(115px, 230px);
      // top: 230px;
      // left: 115px;
    }

    .tile-position-2-2 {
      transform: translate(230px, 230px);
      // top: 230px;
      // left: 230px;
    }

    .tile-position-2-3 {
      transform: translate(345px, 230px);
      // top: 230px;
      // left: 345px;
    }

    .tile-position-2-4 {
      transform: translate(460px, 230px);
      // top: 230px;
      // left: 460px;
    }

    .tile-position-3-0 {
      transform: translate(0px, 345px);
      // top: 345px;
      // left: 0;
    }

    .tile-position-3-1 {
      transform: translate(115px, 345px);
      // top: 345px;
      // left: 115px;
    }

    .tile-position-3-2 {
      transform: translate(230px, 345px);
      // top: 345px;
      // left: 230px;
    }

    .tile-position-3-3 {
      transform: translate(345px, 345px);
      // top: 345px;
      // left: 345px;
    }

    .tile-position-3-4 {
      transform: translate(460px, 345px);
      // top: 345px;
      // left: 460px;
    }

    .tile-position-4-0 {
      transform: translate(0px, 460px);
      // top: 460px;
      // left: 0;
    }

    .tile-position-4-1 {
      transform: translate(115px, 460px);
      // top: 460px;
      // left: 115px;
    }

    .tile-position-4-2 {
      transform: translate(230px, 460px);
      // top: 460px;
      // left: 230px;
    }

    .tile-position-4-3 {
      transform: translate(345px, 460px);
      // top: 460px;
      // left: 345px;
    }

    .tile-position-4-4 {
      transform: translate(460px, 460px);
      // top: 460px;
      // left: 460px;
    }

  }
}

